body{
    background-color: deepskyblue;
    color:white;
    font-size: medium;
}
.heading{
    width:80%;
    font-size:large !important;
    background-color: rgb(0, 255, 200);
}
#camera{
    border:2px dotted white;
    height: 300px;
    width: 300px;
}